/* Restaurant Flip CSS */

body {
	
	background-color: #FFF5EE;
	margin: 0;
	padding: 0;
	width: 100%;
	
}

h1 {
	text-align: center;
	text-decoration: underline;
	margin: 0px 0px 0px 0px;

}

.navbar-default {
  background-color: red;
  border-color: white;
}

.navbar .nav > li > a {
    color: white;
}

.navbar-default .navbar-brand {
  color: white;
  
ul {
	list-style-type:none;
	text-align: center;
}